@font-face {
    font-family: "openSans";
    src: url("../assets/fonts/Open_Sans1/static/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "openSans";
    src: url("../assets/fonts/Open_Sans1/static/OpenSans/OpenSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Grotesk";
    src: url("../assets/fonts/ClashGrotesk_Complete/Fonts/OTF/ClashGrotesk-Regular.otf");
   
}
