@use "/src/scss/resetScss.scss";
@use "/src/scss/_mixins.scss";
@use "@/scss/colors" as c;
@use "@/scss/fonts";



body{
    font-family:  "openSans" ;

    background-color: map-get(c.$colors,"light-orange");


.bold{
    font-weight: bold;
}
}

.router-link-exact-active {
    border-bottom: 4px solid map-get(c.$colors, "orange");
    font-weight: 700;
}