@use "/src/scss/resetScss.scss";
@use "/src/scss/_mixins.scss";
@use "@/scss/colors" as c;


body{
    font-family: "flexo";
    display: flex;
    justify-content: center;
    background-color: map-get(c.$colors,"light-orange");
}

.bold{
    font-weight: bold;
}